.sessionContainer {
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 1rem;
}

.hostInfo {
    display: flex;
    background: rgba(102, 100, 100, 0.35);
    border: none;
}

.hostImg {
    height: 2.8rem;
    width: 2.8rem;
    border-radius: 100%;
    margin-right: 0.8rem;
}

.detailsCard {
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(12.5px);
    -webkit-backdrop-filter: blur(12.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

    padding: 0.8rem;
    margin-right: 1.5rem;
   
}
.hostDescription{
    background: rgba(94, 91, 91, 0.35);
}
.hostDescription h2{
    background: rgba(102, 99, 99, 0.35);
}
.regBtn {
    background-color: #E75480;
    color: white;
    padding: 5px 20px;
    border-radius: 10px;
    border: none;
}

.hrHeight {
    height: 190%;
}

.shareBtn {
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(12.5px);
    -webkit-backdrop-filter: blur(12.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 5px 35px;
}



@media only screen and (max-width: 600px) {
    .sessionContainer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .hostDescription h2{
        font-size: medium;
    }
    .hostImg {
        height: 2rem;
        width: 2rem;
    }
    .detailsCard {
        margin-bottom: 1rem;
    }
}